    .Sin_espacio {
        margin: 0px;
    }
    .calendario-titulo {
        font-size: 2.6em;
        padding-left: 25px;
        line-height: 1;
        margin: 63px 0 34px 14px;
        text-transform: capitalize;
        color: #14286f;
        font-weight: 800;
        padding: 0 5%;
    }
    hr.linea {
        border: 2px solid#da0921;
        width: 35%;
        margin: initial;
        margin-bottom: 43px;
    }
    .Calendario .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #da0921 !important;
        background-color: #fff;
        border-color: #ffffff #ffffff #fff;
        border-bottom: 3px solid#da0921;
        font-weight: 800;
        padding: 21px 0;
    }

    .Calendario .nav-tabs .nav-link {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        padding: 21px 24px;
        color: #adadad;
        font-weight: 700;
    }

    .Calendario .nav-tabs {
        border-bottom: 1px solid #dee2e6;
        padding: 0 6%;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #f1f1f1;
        justify-content: center;
    }
    .flex-container > div {
        background-color: #ffffff;
        width: 17%;
        margin: 4%;
        border-radius: 13px;
        padding: 16px 0 7px 46px;
        line-height: 1em;
    }
    .Semestre label {
        font-weight: 800;
        font-family: "Nunito", sans-serif;
        color: #14286f;
        font-size: 1em;
        margin-bottom: 14px;
        display: table-header-group;
    }
    .Semestre p {
        padding-left: 8%;
        color: #9c9c9c;
        line-height: 1.2em;
    }
    .Formulario_calndario {
        background-color: #f1f1f1;
        padding: 0 6% 4%;
    }
    .Programa-especifico {
        background-color: white;
        padding: 57px 42px;
        border-radius: 17px;
        margin-bottom: 24px;
    }
    .Programa-especifico .Fecha strong {
        color: #14286f;
    }

    .Programa-especifico .Fecha strong.titulo {
        font-size: 1.4em;
        font-weight: 900;
    }
    .Programa-especifico .Fecha span {
        display: block;
        color: #a2a2a2;
        line-height: 1em;
        font-size: 1em;
    }
    .Fecha i {
        background-color: #da092129;
        font-size: 1.4em;
        padding: 15px;
        border-radius: 10px;
        color: #da0921;
    }
    .Formulario_busqueda p {
        margin-bottom: 0;
    }
    .Formulario_busqueda {
        background-color: #fff;
        padding: 56px 33px;
        border-radius: 11px;
    }

    .Descripcion .titulo {
        font-weight: 800;
        color: #14286f;
        font-size: 2em;
    }
    .Descripcion i {
        color: #c7c7c7;
        padding-right: 11px;
    }
    .Descripcion strong {
        color: #14286f;
    }
    .Descripcion strong {
        color: #14286f;
        font-weight: 900;
    }
    .Descripcion .Semestre_uno a {
        background-color: #fee8ce;
        color: #fdab55;
        padding: 2px 16px;
        font-weight: 700;
        font-size: 0.9em;
        border-radius: 5px;
        padding: 0px 7px;
        margin-top: 23px;
        display: table;
        text-decoration: none;
        margin: 0;
        margin-top: 18px;
    }

    .Descripcion .Semestre_dos a {
        background-color: #fbdefb;
        color: #c7afc7;
        font-weight: 700;
        font-size: 0.9em;
        border-radius: 5px;
        padding: 0px 7px;
        margin-top: 23px;
        display: table;
        text-decoration: none;
        margin: 0;
        margin-top: 18px;
    }
    .Descripcion .Abierto a {
        background-color: #cfe5dc;
        color: #62b093;
        font-weight: 700;
        font-size: 0.9em;
        border-radius: 5px;
        padding: 0px 7px;
        margin-top: 23px;
        display: table;
        text-decoration: none;
        margin: 0;
        margin-top: 18px;
    }

    .Descripcion .Cerrado a {
        background-color: #fed3da;
        color: #fd6f85;
        font-weight: 700;
        font-size: 0.9em;
        border-radius: 5px;
        padding: 0px 13px;
        margin-top: 23px;
        display: table;
        text-decoration: none;
        margin: 0;
        margin-top: 18px;
    }
    /*form*/
    .referer-warning {
        background: black;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 0.75em;
        color: white;
        text-align: center;
        line-height: 1.2;
        font-size: 1rem;
        position: relative;
        z-index: 2;
    }
    .referer-warning h1 {
        font-size: 1.2rem;
        margin: 0;
    }
    .referer-warning a {
        color: #56bcf9;
    } /* $linkColorOnBlack */
    .filter {
        width: 100%;
        margin-top: 48px;
    }
    .filter p {
        padding: 0 10px;
    }
    .filter p,
    .filter li {
        font-weight: bold;
        line-height: 22px;
        font-size: 14px;
    }
    .filter .title {
        color: #fff;
        background-color: #1ba0eb;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px;
        border-radius: 3px 3px 0 0;
    }
    .filter .title_items {
        color: #a5a4a4;
        cursor: pointer;
        position: relative;
        background-color: #fff;
        border-bottom: 1px solid #e4effd;
        -moz-transition: linear 0.2s background-color;
        -o-transition: linear 0.2s background-color;
        -webkit-transition: linear 0.2s background-color;
        transition: linear 0.2s background-color;
        border: 1px solid #ced4da;
        padding: 8px 10px;
        border-radius: 5px;
    }
    .filter .title_items:hover {
        background-color: #f4f4f4;
    }
    .filter .title_items.active + ul + .title_items {
        border-top: 1px solid #e4effd;
    }
    .filter p.title_items {
        margin-bottom: 7px;
    }
    .filter .title_items.active:after {
        height: 5px;
        width: 5px;
        right: 14px;
        margin-top: -2.5px;
    }

    .filter .title_items:before,
    .filter .title_items:after {
        content: "";
        position: absolute;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #14286f;
        -moz-transition: linear 0.3s all;
        -o-transition: linear 0.3s all;
        -webkit-transition: linear 0.3s all;
        transition: linear 0.3s all;
    }
    .filter .title_items:before {
        height: 5px;
        width: 13px;
        top: 50%;
        right: 10px;
        margin-top: -2.5px;
    }
    .filter .title_items:after {
        height: 13px;
        width: 5px;
        top: 50%;
        right: 14px;
        margin-top: -6.5px;
    }
    .filter ul {
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }
    .filter ul li {
        height: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        color: #b2b2b2;
        background-color: #fff;
        -moz-transition: linear 0.2s all;
        -o-transition: linear 0.2s all;
        -webkit-transition: linear 0.2s all;
        transition: linear 0.2s all;
    }
    .filter ul li:nth-child(odd) {
        -moz-transform: scale(0.5) translateX(-150px);
        -ms-transform: scale(0.5) translateX(-150px);
        -webkit-transform: scale(0.5) translateX(-150px);
        transform: scale(0.5) translateX(-150px);
    }
    .filter ul li:nth-child(even) {
        -moz-transform: scale(0.5) translateX(150px);
        -ms-transform: scale(0.5) translateX(150px);
        -webkit-transform: scale(0.5) translateX(150px);
        transform: scale(0.5) translateX(150px);
    }
    .filter ul li.visible {
        height: 68px;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        -moz-transform: scale(1) translateX(0);
        -ms-transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0);
        transform: scale(1) translateX(0);
    }
    input[type="checkbox"],
    input[type="radio"] {
        width: 10% !important;
    }
    .filter input[type="&quot;radio&quot;"] {
        display: none;
    }
    .filter input[type="&quot;radio&quot;"]:checked + label:after {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
    .filter label {
        margin: 0 0px;
        display: inline-block;
        width: 84%;
        line-height: 1.2em;
        cursor: pointer;
        position: relative;
        padding: 0 0 0 12px;
        border-bottom: 1px solid #f1f1f1;
        list-style: none;
    }

    .filter label:after {
        content: "";
        top: 50%;
        left: 5px;
        margin-top: -4px;
        position: absolute;
        border-width: 3px;
        border-style: solid;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: linear 0.2s all;
        -o-transition: linear 0.2s all;
        -webkit-transition: linear 0.2s all;
        transition: linear 0.2s all;
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: inline-block;
        vertical-align: top;
        width: 5%;
    }
    .filter li {
        list-style: none !important;
    }

    .Formulario_busqueda input[type="radio"] {
        display: none;
    }

    .Formulario_busqueda input[type="radio"] + label:before {
        content: "";
        display: inline-table;
        width: 22px;
        height: 22px;
        padding: 6px;
        margin-right: 3px;
        background-clip: content-box;
        border: 2px solid #bbbbbb;
        background-color: #e7e6e7;
        border-radius: 50%;
    }
    .Formulario_busqueda .btn-primary {
        background-color: #da0921;
        border: 0;
        font-weight: 700;
        margin: auto;
        display: block;
        padding: 6px 34px;
    }
    .Formulario_busqueda .btn-primary:hover {
        background-color: #1c152e;
    }
    /* appearance for checked radiobutton */
    .Formulario_busqueda input[type="radio"]:checked + label:before {
        background-color: #14286f;
    }

    /* optional styles, I'm using this for centering radiobuttons */
    .Formulario_busqueda label {
        display: flex;
        align-items: center;
    }
    p.txt {
        color: #a7a7a7;
        text-align: justify;
    }
    span.txt {
        color: #989898;
    }
    .custom-control {
        padding-left: 0.9rem !important;
    }

    .flex-container .custom-checkbox .custom-control-label::before {
        margin-top: 8px !important;
    }
    .custom-control-label:before {
        background-color: #ffffff;
        width: 15%;
        height: 59%;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #da0921;
        width: 16%;
        height: 56%;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        background-size: 74%;
        height: 25px;
        width: 26px;
        background-position-x: 5px;
        background-position-y: 3px;
    }
    .custom-control-input:active ~ .custom-control-label::before {
        background-color: green;
    }
    .custom-control-label::after {
        top: 12px !important;
    }

    /** focus shadow pinkish **/
    . .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 0, 247, 0.25);
    }

    .flex-container .custom-control-label::after {
        width: 27px !important;
        height: 27px !important;
        content: "";
    }
    .Semestre span {
    background-color: #da0921;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: inline-grid;
    text-align: center;
}
.espacio {
    margin-bottom: 34px;
}
a.Fecha {
display: inline-grid;
    background-color: #fff;
    width: 100%;
    border: 1px solid#ced4da;
    text-align: left;
    padding: 7px 12px;
    border-radius: 4px;
    color: #9d9d9d;
    margin-bottom: 17px;
    font-weight: 700;
}
.input-group-btn button {
    background-color: #ffffff;
    padding: 10px 10px;
    border: 1px solid#ced4da;
    border-right: 0;
    color: #cacaca;
    pointer-events: none;
}
 .Limpiar {
    background-color: #f1f1f1!important;
    color: #909090!important;
}
.Limpiar:hover {
    background-color: #1b142d!important;
    color: #fff!important;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    border-left: 0;
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    color: #a5a4a4;
}
.form-control {
    color: #9c9c9c;
    font-weight: 600;
}
.fechas {
    background-color: #f1f1f1!important;
    padding: 0 62px!important;
}
a.Fecha {
    display: none;
}
    @media (max-width: 600px) {
        .flex-container > div {
            width: 64%;
        }
    }